@import "tailwindcss";

@theme {
  --breakpoint-mini: 320px;
  --breakpoint-mobile: 375px;
  --breakpoint-mobile-large: 480px;
  --breakpoint-phablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-large: 834px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-desktop-large: 1440px;
  --breakpoint-wide: 1680px;
  --breakpoint-ultrawide: 1920px;
  --breakpoint-fullhd: 2160px;
  --breakpoint-retina: 2560px;
  --breakpoint-cinema: 3840px;
}
@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar{
  display: none;
}