@import "tailwindcss";

@theme {
  --breakpoint-mini: 320px;
  --breakpoint-mobile: 375px;
  --breakpoint-mobile-large: 480px;
  --breakpoint-phablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-large: 834px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-desktop-large: 1440px;
  --breakpoint-wide: 1680px;
  --breakpoint-ultrawide: 1920px;
  --breakpoint-fullhd: 2160px;
  --breakpoint-retina: 2560px;
  --breakpoint-cinema: 3840px;
}
@custom-variant dark (&:where(.dark, .dark *));

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}

/* Dark mode scrollbar */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 85, 99, 0.8);
}
